@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i,900,900i');

html {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;

}
.contenedor{
    width: 100%;
}

:root {
    --rojoP: rgb(235, 8, 1);
    --negroP: rgb(0, 0, 0);
    --blancoP: rgb(255, 255, 255);
    --grismenu1: rgb(246, 246, 246);
    --grismenu1: rgb(243, 243, 243);
    --grisLetras: rgb(153, 153, 153);

}

body {
    color: var(--negroP);
    background-color: var(--blancoP);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.barra_de_arriba {
    background-color: var(--negroP);
    width: 100%;
    height: 10%;
    padding: 0%;
}

.opcionesA{
    display: flex;
    align-items: center;
    margin-top: 2.18rem;    
    margin-left: 19rem;
}

.barra_de_abajo {
    background-color: var(--blancoP);
    margin-top: 1%;
    margin-left: 5%;
    width: 100%;
    height: 10%;
    padding: 0%;
}

.img_logo {
    background-image: url("../img/logo.jpg");
    width: 39vh;
    height: 11.6vh;
    display: flex;
    justify-content: center;
    background-size: contain;
    background-color: var(--rojoP);
    background-repeat: no-repeat;
}

.letrasbarra {
    background-color: var(--blancoP);
    color: var(--grisLetras);
    text-decoration: none;
    font-size: 0.90rem;
    font-weight: bolder;
}

.letrasbarra:hover {
    background-color: var(--grismenu1);
    color: var(--negroP);
    text-decoration: none;
    font-size: 0.90rem;
    font-weight: bolder;
}

.reservas_button {
    background-color: var(--negroP);
    color: var(--blancoP);

    /* margin-left: 10%; */
    text-decoration: none;
    font-size: 0.65rem;
    font-weight: bolder;
}

.reservas_button:hover {
    background-color: var(--rojoP);
    text-decoration: none;
}

.scrollable {
    background-color: var(--grismenu1);
    width: 25%;
    height: 78vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

.letrasmenuscroll {
    background-color: var(--rojoP);
    color: var(--blancoP);
    text-align: center;
    font-weight: bolder;
    font-size: 0.90rem;
    margin-top: -2%;
}

.letrasmenuscroll:hover {
    cursor: pointer;
}

.fotosscroll:hover {
    cursor: pointer;
}


/* ADMIN */

